*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
}
ul ,ol{
    list-style-type :none;
}

a{
    text-decoration:none;
    color: black;
    }

h1,h2,h3,h4,h5,h6{
        font-weight: normal;
        font-size: inherit;
    }

.clearfix::after{
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    visibility: hidden;
    content: '.';
}

.top{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    height: 40px;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #d6d6d6;
    padding: 15px 0;
}

.top-info{
    max-width: 980px;
    height: 40px;
    position: relative;
    margin: auto;
}

.info-logo{
    position: relative;
    float: left;
    line-height: 40px;
    height: 40px;
}

.info-name{
    font-size: 2.5em;
    font-family: 'PingHei', 'STHeiti SC', 'SimHei';
}

.info-title{
    position: absolute;
    left: 100%;
    bottom: 0;
    line-height: 20px;
    white-space: nowrap;
    padding-left: 10px;
    color: #888;
}
.info-adress{
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 21px;
    font-style: normal;
    font-size: 14px;
}

.info-adress li{
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 8px;
    padding-left: 24px;
}

.adress-phone,.adress-qq,.adress-email{
    background :url("../imgs/icon-sprites.png") no-repeat;
    background-size:20px auto; 
    margin-left: 28px;
}
.adress-qq{
    background-position-y: -28px;
}
.adress-email{
    background-position-y: -56px;
}

.button{
    background: #08c;
    color: white;
    border-radius: 0.4em;
    /* font-size: 12px; */
    padding: 0 0.6em;
}

.page1{
    background-color: #4dd0e1;
}
.page2{
    background: #22c3aa;
}

.section{
    position: relative;
}

.contain{
    text-align: center;
}
.page1 .myname{
    font-size: 2em;
    letter-spacing: 2px;
    text-shadow: 1px 2px #4dd0e1, 2px 3px #2caaba;
    color: #fff;
    margin: 0.6em;
}

.subtitle{
    font-size: 1.1em;
    margin: .5em 0 .25em;
    color: #bcf1f8;
}

.page1 h5{
    margin: 12px 0 24px;
    font-size: 22px;
    color: #fff;
}

.page1 img{
    border: 10px solid #36b5c5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
    height: 13em;
}

.page2 h3{
    font-size: 2em;
    color: #fff;
}

.page2 ul{
    margin: auto;
    width: 70%;
    padding-top: 2em;
}
.page2 li{
    margin-bottom: 20px;
    animation-name: bar-javascript;
    position: relative;
    animation-duration: 1.5s;
}
.page2 h4{
    color: #2a7da9;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    overflow: hidden;
    text-align: left;
    font-size: 1.2em;
}

.page2 .li-js{
    border-left: 3px solid #3498db;
    background-color: #d6efff;
    width: 70%;
    
}




