*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background: #fff;
    line-height: 1;
    font-family: 'Pingfang SC', 'Lantinghei SC', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -webkit-print-color-adjust: exact;
}
ul ,ol{
    list-style-type :none;
}

a{
    text-decoration:none;
    color: black;
    }

h1,h2,h3,h4,h5,h6{
        font-weight: normal;
        font-size: inherit;
    }

.clearfix::after{
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    visibility: hidden;
    content: '.';
}

.top{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    height: 40px;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #d6d6d6;
    padding: 15px 0;
}

.top-info{
    max-width: 980px;
    height: 40px;
    position: relative;
    margin: auto;
}

.info-logo{
    position: relative;
    float: left;
    line-height: 40px;
    height: 40px;
}

.info-name{
    font-size: 2.5em;
    font-family: 'PingHei', 'STHeiti SC', 'SimHei';
}

.info-title{
    position: absolute;
    left: 100%;
    bottom: 0;
    line-height: 20px;
    white-space: nowrap;
    padding-left: 10px;
    color: #888;
}
.info-adress{
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 21px;
    font-style: normal;
    font-size: 14px;
}

.info-adress li{
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 8px;
    padding-left: 24px;
}

.adress-phone,.adress-qq,.adress-email{
    background :url("../imgs/icon-sprites.png") no-repeat;
    background-size:20px auto; 
    margin-left: 28px;
}
.adress-qq{
    background-position-y: -28px;
}
.adress-email{
    background-position-y: -56px;
}

.button{
    background: #08c;
    color: white;
    border-radius: 0.4em;
    /* font-size: 12px; */
    padding: 0 0.6em;
}

.section:nth-child(even){
    background: #FAFAFA;
}

.section{
    position: relative;
}

.page{
    max-width: 980px;
    margin: 0 auto;
}

.content{
    line-height: 1.7;
    text-align: justify;
}

.header-title{
    font-size: 40px;
}

.page-header{
    margin-bottom: 30px;
}

.header-subtitle{
    font-size: 34px;
    color: #999;
}

.header-title,.header-subtitle{
    font-family: 'Microsoft JhengHei', 'Microsoft YaHei', 'STHeiti SC', 'SimHei';
    text-align: center;
}

.person-info{
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.avatar img{
    border-radius: 50%;
    width: 10em;
}

.avatar{
    padding-right: 4%;
    text-align: right;
}

.detial{
    padding-left: 4%;
    border-left: 2px dashed #ccc;
}

.page2 li{
    margin-bottom: 20px;
    animation-name: bar-javascript;
    position: relative;
    animation-duration: 1.5s;
}

.page2 h4{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    overflow: hidden;
    text-align: left;
    font-size: 1.2em;
}

.page2 .li-js,.li-c,.li-sql{
    border-left: 3px solid #3498db;
    background-color: #d6efff;
    color: #2a7da9;
}

.page2 .li-html,.li-jquery{
    border-left: 3px solid #80bd01;
    background-color: #EAF6D0;
    color: #6e9c0f;
}

.li-js{
    width: 100%;
}
.li-jquery{
    width: 85%;
}
.li-html{
    width: 65%;
}
.li-c{
    width: 75%;
}
.li-sql{
    width: 50%;
}

.skill-detail{
    position: absolute;
    right: 35%;
    top: 12px;
    z-index: 9999;
    max-width: 400px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: none;
}

.skill-detail ul{
    width: auto;
}

.skill-detail li{
    list-style-type: disc;
    margin:0 1.3em;
    font-size: 0.8em;
    color: black;
}

.work-list{
    padding: 1px 0;
    margin-left: 8px;
    border-left: 4px solid #ccc;
}

.work-item{
    position: relative;
    padding-left: 15px;
    margin: 15px 0;
    height: 26px;
    line-height: 26px;
}

.work-mark{
    position: absolute;
    left: -14px;
    top: 0;
    width: 18px;
    height: 18px;
    border: 3px solid #fff;
    border-radius: 12px;
    background: #3498db;
}



