*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background: #fff;
    line-height: 1;
    font-family: 'Pingfang SC', 'Lantinghei SC', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -webkit-print-color-adjust: exact;
}
ul ,ol{
    list-style-type :none;
}

a{
    text-decoration:none;
    color: black;
    }

h1,h2,h3,h4,h5,h6{
        font-weight: normal;
        font-size: inherit;
    }

.boundary{
    clear:both;
}

.clearfix::after{
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    visibility: hidden;
    content: '.';
}

.top{
    border-bottom: 1px solid #d6d6d6;
    padding: 15px 0;
}

.header_logo{
    position: relative;
    float: left;
    line-height: 40px;
    height: 40px;
}

.info-name{
    font-size: 2.5em;
    font-family: 'PingHei', 'STHeiti SC', 'SimHei';
}

.info-title{
    position: absolute;
    left: 100%;
    bottom: 0;
    line-height: 20px;
    white-space: nowrap;
    padding-left: 10px;
    color: #888;
}
.info-adress{
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 21px;
    font-style: normal;
    font-size: 14px;
}

.info-adress li{
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 8px;
    padding-left: 24px;
}

.adress-phone,.adress-qq,.adress-email{
    background :url("../imgs/icon-sprites.png") no-repeat;
    background-size:20px auto; 
    margin-left: 28px;
}
.adress-qq{
    background-position-y: -28px;
}
.adress-email{
    background-position-y: -56px;
}

.button{
    background: #08c;
    color: white;
    border-radius: 0.4em;
    /* font-size: 12px; */
    padding: 0 0.6em;
}

.section:nth-child(even){
    background: #FAFAFA;
}

.section{
    position: relative;
}

.page{
    max-width: 980px;
    margin: 0 auto;
}

.content{
    line-height: 1.7;
    text-align: justify;
}

.header-title{
    font-size: 40px;
}

.page-header{
    margin-bottom: 30px;
}

.header-subtitle{
    font-size: 34px;
    color: #999;
}

.header-title,.header-subtitle{
    font-family: 'Microsoft JhengHei', 'Microsoft YaHei', 'STHeiti SC', 'SimHei';
    text-align: center;
}

.person-info{
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.avatar img{
    border-radius: 50%;
    width: 10em;
}

.avatar{
    padding-right: 4%;
    text-align: right;
}

.detial{
    padding-left: 4%;
    border-left: 2px dashed #ccc;
}

.page2 li{
    margin-bottom: 20px;
    animation-name: bar-javascript;
    position: relative;
    animation-duration: 1.5s;
}

.page2 h4{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    overflow: hidden;
    text-align: left;
    font-size: 1.2em;
}

.page2 .li-js,.li-c,.li-sql{
    border-left: 3px solid #3498db;
    background-color: #d6efff;
    color: #2a7da9;
}

.page2 .li-html,.li-jquery{
    border-left: 3px solid #80bd01;
    background-color: #EAF6D0;
    color: #6e9c0f;
}

.li-js{
    width: 100%;
}
.li-jquery{
    width: 85%;
}
.li-html{
    width: 65%;
}
.li-c{
    width: 75%;
}
.li-sql{
    width: 50%;
}

.skill-detial{
    position: absolute;
    left: 15%;
    top: 12px;
    z-index: 9999;
    max-width: 400px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: none;
}

.skill-detial ul{
    width: auto;
}

.skill-detial li{
    list-style-type: disc;
    margin:0 1.3em;
    font-size: 0.8em;
    color: #333;
}

.work-list{
    padding: 1px 0;
    margin-left: 8px;
    border-left: 4px solid #ccc;
}

.work-item{
    position: relative;
    padding-left: 15px;
    margin: 15px 0;
    height: 26px;
    line-height: 26px;
}

.work-mark{
    position: absolute;
    left: -14px;
    top: 0;
    width: 18px;
    height: 18px;
    border: 3px solid #fff;
    border-radius: 12px;
    background: #3498db;
}

.work-list section{
    margin: 30px 0;
    margin-left: 20px;
}

.work-list header{
    position: relative;
    padding-left: 115px;
    display: block;
}

.company-logo{
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    display: block;
    text-align: center
}

.company-logo img{
    width: 100%;
    border: none;
    vertical-align: top;
}

.company-logo + h4{
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
}

.company-logo +h4 + p::before{
    content: '\2014\2014';
    padding-right: 4px;
}
.company-logo +h4 + p{
    display: inline-block;
    color: #888;
}

.work-detial{
    padding-left: 115px;
    margin-top: 8px;
}

.page3,.page4 {
    padding: 35px 0;
}


.list li{
    list-style: disc;
    margin-left: 1.3em;
}


.project{
    margin-top: 25px;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 380px;
    border-top: 2px dashed #ccc;
}

.project:first-child{
    border-top: none;
}

.project-nothumb{
    padding-right: 10px !important;
}
.project-intro{
    width: 100%;
    float: left;
}
.project-intro-header{
    position: relative;
    margin-bottom: 8px;
    line-height: 1.3;
}

.project-title{
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 3px;
}
.project-tag-list li{
    height: 24px;
    line-height: 24px;
    padding: 0 6px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.75em;
    font-family: 'Lucida Grande', arial;
    color: #fff;
}

.tag-asp{
    background: #80bd01;
}
.tag-jquery{
    background: #015a84;
}
.tag-js{
    background: #f0db4f;
}

.tag-node{
    background:#f60;
}

.tag-vue{
    background:#f90;
}

.tag-ts{
    background: #008558;
}

.tag-bt{
    background: #de0e0e;
}




.project-links{
    margin-top: 10px;
    text-align: right;
    word-spacing: 1em;
}
.project-links a{
    text-decoration: none;
    color: #08c;
}

.footer{
    border-top: 1px solid #e8e8e8;
    font-size: 0.875em;
    color: #888;
}

.foot-left{
    float: left;
}
.foot-right{
    float: right;
    text-align: right;
}
.foot-text{
    margin: 7px 0 0 10px;
    float: left;
}
.foot-img{
    width: 60px;
    height: 60px;
    float: left;
}

.footer .boundary{
    padding: 15px 0;
}


